<!DOCTYPE html>
<html>
<head>
  <title>Bundle</title>
  <script type="text/javascript" src="/assets/angular-min.js"></script>
  <script type="text/javascript" src="/assets/angular-router.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/cfs2hem.js"></script>
</head>
<body ng-app="bundle" ng-view>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
