<!DOCTYPE html>
<html>
<head>
  <title>Bundle</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="bundle">

<%= yield %>

</body>
</html>
